In [2]:
import pandas as pd
import os
import json

In [3]:
pdataraw = pd.read_json("purchase_data.json")
pdata = pd.read_json("purchase_data.json")
pdata.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [4]:
pdata.columns

Index(['Age', 'Gender', 'Item ID', 'Item Name', 'Price', 'SN'], dtype='object')

In [5]:
pdata_totalplay = pd.DataFrame(pdata)
pdata_totalplay["Total Players"] = len(pdata["SN"].unique())
total = pdata_totalplay[["Total Players"]]
total_disp = total.iloc[0:1]
total_disp

   Total Players
0            573

In [6]:
unique_item = pd.DataFrame(pdata)
unique_item["Unique Items"] = len(pdata["Item Name"].unique())
unique_item["Avg Purchase"] = (pdata["Price"].sum()) / (pdata["Item ID"].count())
unique_item["Avg Purchase"] = unique_item["Avg Purchase"].map("${:.2f}".format)
unique_item["Total Purchases"] = pdata["Price"].count()
unique_item["Total Revenue"] = pdata["Price"].sum()
unique_item["Total Revenue"] = unique_item["Total Revenue"].map("${:.2f}".format)
purchase_total = unique_item[["Unique Items", "Avg Purchase", "Total Purchases", "Total Revenue"]]
purchase_disp = purchase_total.iloc[0:1]
purchase_disp

   Unique Items Avg Purchase  Total Purchases Total Revenue
0           179        $2.93              780      $2286.33

In [7]:
pdata = pd.DataFrame(pdata[['Age', 'Gender', 'Item ID', 'Item Name', 'Price', 'SN']])
pdata.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [8]:
gender = pd.DataFrame(pdata[["Gender", "SN"]])
SN_group = gender.groupby(["SN"]).count()
gender = gender.drop_duplicates("SN")
gender.head()

  Gender            SN
0   Male     Aelalis34
1   Male        Eolo46
2   Male   Assastnya25
3   Male  Pheusrical25
4   Male        Aela59

In [9]:
gender_count = gender.groupby(["Gender"]).count()
gender_count.head()

                        SN
Gender
Female                 100
Male                   465
Other / Non-Disclosed    8

In [10]:
gender_count["% of Players"] = ((gender_count["SN"]) / (gender_count["SN"].sum()) * 100)
gender_count["% of Players"] = gender_count["% of Players"].map("{:.2f}%".format)
gender_count["Total Players"] = gender_count["SN"]
gender_disp = gender_count[["% of Players", "Total Players"]]
gender_disp

                      % of Players  Total Players
Gender
Female                      17.45%            100
Male                        81.15%            465
Other / Non-Disclosed        1.40%              8

In [11]:
gender_purch = pd.DataFrame(pdata[["Gender", "Item ID", "Price"]])
gender_purch.head()

  Gender  Item ID  Price
0   Male      165   3.37
1   Male      119   2.32
2   Male      174   2.46
3   Male       92   1.36
4   Male       63   1.27

In [16]:
age = pd.DataFrame(["SN","Age"])
age = age.drop_duplicates()

# Ages
age_10 = age[age["Age"] < 10].count()[0]
age_14 = age[(age["Age"] >= 10) & (age["Age"] <= 14)].count()[0]
age_19 = age[(age["Age"] >= 15) & (age["Age"] <= 19)].count()[0]
age_24 = age[(age["Age"] >= 20) & (age["Age"] <= 24)].count()[0]
age_29 = age[(age["Age"] >= 25) & (age["Age"] <= 29)].count()[0]
age_34 = age[(age["Age"] >= 30) & (age["Age"] <= 34)].count()[0]
age_39 = age[(age["Age"] >= 35) & (age["Age"] <= 39)].count()[0]
age_40 = age[age["Age"] >= 40].count()[0]
all_age = [age_10, age_14, age_19, age_24, age_29, age_34, age_39, age_40]

# Percents
percent_10 = round((age_10/player_count)*100,2)
percent_14 = round((age_14/player_count)*100,2)
percent_19 = round((age_19/player_count)*100,2)
percent_24 = round((age_24/player_count)*100,2)
percent_29 = round((age_29/player_count)*100,2)
percent_34 = round((age_34/player_count)*100,2)
percent_39 = round((age_39/player_count)*100,2)
percent_40 = round((age_40/player_count)*100,2)
percents_a = [percent_10, percent_14, percent_19, percent_24, percent_29, percent_34, percent_39, percent_40]

# Creating the dictionary
age_demo = {
        "Percent of Players": percents_a,
        "Total Count": ages
    }
    
# Creating DataFrame & setting index
age_demo_df = pd.DataFrame(age_demo)
age_demo_df.index = (["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"])
age_demo_df

KeyError: 'Age'